@model MvcApplication1.Models.MessageInfoModels

@{
    ViewBag.Title = "医院论坛";
}
@using PagedList
@using PagedList.Mvc
<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
<style>

    a {
color: #000;
text-decoration: none;
}
    table {
empty-cells: show;
border-collapse: collapse;
}
.pl table {
table-layout: fixed;
width: 100%;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
.pls {
width: 160px;
background: #F5F8FF;
overflow: hidden;
border-right: 1px solid #C2D5E3;
}
.ptm {
padding-top: 10px !important;
}
.pbm {
padding-bottom: 10px !important;
}
.hm {
text-align: center;
}
.xg1, .xg1 a {
color: #999 !important;
}
.xi1, .onerror {
color: #F26C4F;
}
.pipe {
margin: 0 5px;
color: #CCC;
}
.ts {
font: 700 16px "Microsoftt Yahei",Hei,Tahoma,SimHei,sans-serif;
margin: 0;


}
.pi {
overflow: hidden;
margin-bottom: 10px;
padding: 10px 0;
height: 16px;
border-bottom: 1px dashed #CDCDCD;
}
#fj {
margin-left: 5px;
}
.y {
float: right;
}
strong, b {
font-weight: bold;
}
.pi strong a {
float: right;
margin-top: -6px;
padding: 4px 6px;
border: 1px solid #FFF;
font-weight: 400;
}
em, cite {
font-style: normal;
}
.vm {
vertical-align: middle;
}
.pipe {
margin: 0 5px;
color: #CCC;
}
.pct {
padding-bottom: 1em;
}

.t_fsz {
min-height: 100px;
}
.t_f, .t_f td {
font-size: 14px;
}
.plc {
padding: 0 20px;
}
.plc, .pls {
vertical-align: top;
overflow: hidden;
}
.ad .pls {
background: #C2D5E3;
padding: 0;
height: 4px;
}
.ad .plc {
background: #F5F8FF;
padding: 0;
overflow: hidden;
}
.bm {
border: 1px solid #E0EDF4;
}
.pls p, .pls .pil, .pls .o {
margin: 5px 10px 5px 20px;
}
.pls dt {
width: 60px;
}
.pls dd, .pls dt {
float: left;
overflow: hidden;
height: 1.6em;
line-height: 1.6em;
}
.pls dd {
width: 68px;
}
.pls .pi {
padding-left: 15px;
}
.pi {
overflow: hidden;
margin-bottom: 10px;
padding: 10px 0;
height: 16px;
border-bottom: 1px dashed #CDCDCD;
}
.pls .avatar {
margin: 10px 15px;
}
.pls .avatar img {
padding: 5px 5px 8px;
background: #FFF url(/Content/images/midavt_shadow.gif) 0 100% repeat-x;
}


</style>


   <!-- content -->
   <div id="content">
      <div class="container">
      	<!-- main-banner-small begin -->
         <div class="main-banner-small">
         	<div class="inner">
            	<h1>Even the biggest success Starts with a first step</h1>
            </div>
         </div>
         <!-- main-banner-small end -->
         <div class="section">
         	<!-- box begin -->
            <div class="box">
               <div class="border-top">
                  <div class="border-right">
                     <div class="border-bot">
                        <div class="border-left">
                           <div class="left-top-corner">
                              <div class="right-top-corner">
                                 <div class="right-bot-corner">
                                    <div class="left-bot-corner">
                                        <div class="inner">
                                            <div id="postlist" class="pl bm">
                                                <table cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                    <td class="pls ptm pbm"><div class="hm"> <span class="xg1">查看:</span> <span class="xi1">@Model.ViewNum</span><span class="pipe">|</span><span class="xg1">回复:</span> <span class="xi1">@Model.ReplyNum</span> </div></td>
                                                    <td class="plc ptm pbn"><h2 class="ts"> <a href="#" id="thread_subject">@Model.Title</a> <span class="xw0 xs1 xg1">  </span> </h2></td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                                <table cellspacing="0" cellpadding="0" class="ad">
                                                <tbody>
                                                    <tr>
                                                    <td class="pls"></td>
                                                    <td class="plc"></td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                                @Html.Partial("ConsultShow",ViewBag.list as PagedList.StaticPagedList<MvcApplication1.Models.ReplyModel>)
                                                <div id="postlistreply" class="pl">
                                                    <div id="post_new" class="viewthread_table" style="display: none"></div>
                                                </div>
                                                
                                            </div>
                                                <div>
                                                    @if (ViewBag.list.Count > 0)
                                                    {
                                                        @Html.PagedListPager((IPagedList)ViewBag.list, page => Url.Action("OnlineConsultShow", new { page }), PagedListRenderOptions.PageNumbersOnly)
                                                    }
                                                </div>
                                        @if (ViewBag.b)
                                        {
                                            using (Html.BeginForm(null,null,FormMethod.Post,new{id="form1"}))
                                            {
                                            <div>

                                                <div style="padding:10px 0;">
                                                    <div>内容：</div>
                                                    <div>
                                                        <textarea id="Content" name="Content"></textarea>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input class="button" style="height:24px;padding:0 10px;line-height:24px;" type="submit" value="提交"/>
                                                </div>
                                            </div>  
                                            }        
                                     }
                                        </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- box end -->
         </div>
      </div>
   </div>
   <script type="text/javascript">
       $(function () {
           $("#Content").ckeditor({ toolbar: "user" });
           $(window).load(function () {
               CKEDITOR.replace('Content');
           });

           $(".button").click(function () {
               CKEDITOR.instances['Content'].updateElement();
           });

           $("#form1").validate({
               rules: {
                   Content: "required"
               },
               messages: {
                   Content: "回复信息不能为空"
               },
               showErrors: function (errorMap, errorList) {
                   if (errorList.length > 0) {
                       alert(errorList[0].message);
                       return false;
                   }

               }
           });

       })
</script>