@model PagedList.StaticPagedList<ReadersModels>
@{
    ViewBag.Title = "现任领导";
}
<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
   <!-- content -->
   <div id="content">
      <div class="container">
      	<!-- main-banner-small begin -->
         <div class="main-banner-small">
         	<div class="inner">
            	<h1>Even the biggest success Starts with a first step</h1>
            </div>
         </div>
         <!-- main-banner-small end -->
         <div class="wrapper page4">
         	@Html.Partial("_AboutLeft")
            <div class="col-2 maxheight">
            	<!-- box begin -->
               <div class="box maxheight">
                  <div class="border-top maxheight">
                     <div class="border-right maxheight">
                        <div class="border-bot maxheight">
                           <div class="border-left maxheight">
                              <div class="left-top-corner maxheight">
                                 <div class="right-top-corner maxheight">
                                    <div class="right-bot-corner maxheight">
                                       <div class="left-bot-corner maxheight">
                                           <div class="inner">
                                               <h2>现任领导</h2>
                                               <ul class="list2">
                                                   @foreach (ReadersModels r in Model)
                                                   {
                                                       <li>
                                                           <a href="/ReaderShow/@r.ReaderID"><img alt="" width="66" height="66" src="@r.Images" /></a>
                                                           <h4><a href="/ReaderShow/@r.ReaderID"><strong>@r.ReaderName</strong></a>
                                                               @r.Position</h4>
                                                           @r.Duty
                                                       </li>
                                                   }
                                           
                                               </ul>
                                               <div>
                                                  @if (Model.Count > 0)
                                                  {
                                                      @Html.PagedListPager((IPagedList)Model, page => Url.Action(ViewBag.strActions, new { page }),new PagedListRenderOptions(){LinkToPreviousPageFormat = "上一页",LinkToNextPageFormat = "下一页",LinkToFirstPageFormat = "首页",LinkToLastPageFormat = "尾页"})
                                                  }
                                              </div>
                                           </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- box end -->
            </div>
         </div>
      </div>
   </div>
