@model MvcApplication1.Models.PassWordViewModel
@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h3 class="mt">密码安全</h3>
<!--don't close the div here--><p class="bbda pbm mbm">您必须填写原密码才能修改下面的资料</p>
    @using (Ajax.BeginForm("userSetPassWord",new AjaxOptions() { UpdateTargetId = "usermain", HttpMethod = "Post", OnSuccess = "" }))
    {
        
    
<table summary="个人资料" cellspacing="0" cellpadding="0" class="tfm">
    <tbody>
        <tr>
                  <th>
                      <span class="rq" title="必填">*</span>
                      @Html.LabelFor(model => model.OldPassWord)
                  </th>
                  <td>
                      @Html.PasswordFor(model=>model.OldPassWord,new{@class="px"})
                      @Html.ValidationMessageFor(model => model.OldPassWord)
                  </td>
              </tr>
        <tr>
            <th>@Html.LabelFor(model=>model.NewPassWord)</th>
            <td>
                @Html.PasswordFor(model=>model.NewPassWord,new{@class="px"})
                @Html.ValidationMessageFor(model=>model.NewPassWord)
                <p class="d"> </p>
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model=>model.RePassWord)</th>
            <td>
                @Html.PasswordFor(model => model.RePassWord, new { @class = "px" })
                @Html.ValidationMessageFor(model => model.RePassWord)
                <p class="d"> </p>
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td><button type="submit" name="pwdsubmit" value="true" class="pn pnc"><strong>保存</strong></button></td>
        </tr>
    </tbody></table>
    @Html.Raw(ViewBag.message) 
    }