@model PagedList.StaticPagedList<MvcApplication1.Models.ReadersModels>

@{
    ViewBag.Title = "领导列表";
}
@using PagedList;
@using PagedList.Mvc;
<link href="../../Content/PagedList.css" rel="stylesheet" type="text/css" />
<p>
    @Html.ActionLink("添加", "Create")
</p>
<table class="gridview">
    <tr>
        <th>
            领导名字
        </th>
        <th>
            职位
        </th>
        <th>
            性别
        </th>
        <th>
            生日
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReaderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ReaderID }) |
            @Html.ActionLink("详情", "Details", new { id=item.ReaderID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.ReaderID }, new { onclick = "return confirm('你确定要删除这条记录吗？')" })
        </td>
    </tr>
}

</table>
<div>
    @if (Model.Count!=0)
    {
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("index", new { page }), PagedListRenderOptions.PageNumbersOnly)
    }
</div>