@model MvcApplication1.Models.NewsModels

@{
    ViewBag.Title = "添加新闻";
}

<h2>Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>添加新闻</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.NewType,ViewBag.sl as SelectList,string.Empty)
            @Html.ValidationMessageFor(model => model.NewType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model=>model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PubDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PubDate)
            @Html.ValidationMessageFor(model => model.PubDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remark)
            @Html.ValidationMessageFor(model => model.Remark)
        </div>

        <p>
            <input class="button" type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>
<script type="text/javascript">
    $(function () {
        $("#Content").ckeditor();
        $(window).load(function () {
            CKEDITOR.replace('Content');
        });

        $(".button").click(function () {
            CKEDITOR.instances['Content'].updateElement();
        });

        $("#PubDate").datepicker({
            changeMonth: true,
            changeYear: true
        });
    })
</script>